<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Silver Papillon{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,700%7CRoboto+Slab%7CRoboto:100,300,400,500" rel="stylesheet">
        {% if app.environment == 'prod' %}
            <link rel="stylesheet" href="{{ asset('assets/stylesheets/app.min.css') }}" />
        {% else %}
            <link rel="stylesheet" href="{{ asset('assets/stylesheets/app.css') }}" />
        {% endif %}
    {% endblock %}

    {% block headBeforeEnd %}
    {% endblock %}

</head>
<body>

    {% block dataLayerJavascripta %}
        {% include(':fragment:include-google-data-layer.html.twig') %}
    {% endblock %}

    {% include(':fragment:include-google-tag-manager.html.twig') %}
    {% include(':fragment:include-piwik.html.twig') %}
    {% include(':fragment:section-header-nav.html.twig') %}

    <div class="container-main-wrap">
        {% block header %}
            <div class="bread">
                <div class="container">
                    <ul class="list-unstyled">
                        {% block bread %}
                            <li><a href="/">Home</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        {% endblock %}

        {% block body %}
            <div class="container">
                <div class="row">
                    {% block bodyRow %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% include(':fragment:section-footer.html.twig') %}

    {% block javascripts %}
        {% if app.environment == 'prod' %}
            <script src="{{ asset('assets/javascripts/plugins.min.js') }}"></script>
            <script src="{{ asset('assets/javascripts/app.min.js') }}"></script>
        {% else %}
            <script src="{{ asset('assets/javascripts/plugins.js') }}"></script>
            <script src="{{ asset('assets/javascripts/app.js') }}"></script>
        {% endif %}
    {% endblock %}

</body>
</html>
