<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Silver Papillon{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,700%7CRoboto+Slab%7CRoboto:100,300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="{{  asset('assets/css/app.css') }}" />
    {% endblock %}

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{ asset('bundles/app/images/logo-small.png') }}" height="58" alt="Silver Papillon Logo" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if 'Default' in _c %}active{% endif %}">
                        <a href="/">{{ fa('home') }} Home</a>
                    </li>

                    <li id="navbar-nav-feed" class="{% if 'Feed' in _c %} active {% endif %}{% if has_fb_feed_cached() != true %} hidden {% endif %}">
                        <a href="{{ url('app_feed_view') }}">{{ fa('sticky-note') }} News</a>
                    </li>

                    <li class="{% if 'Category' in _c %}active{% endif %} dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ fa('shopping-bag') }} Shop <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">

                            {% if cart_count() > 0 %}
                                <li class="dropdown-header">Your Cart <span class="badge badge-default">{{ cart_count() }}</span></li>
                                <li>
                                    <a href="{{ url('app_cart_view') }}">View</a>
                                </li>
                                <li>
                                    <a href="{{ url('app_cart_checkout') }}">Checkout</a>
                                </li>
                                <li role="separator" class="divider"></li>
                            {% endif %}

                            <li class="dropdown-header">Products</li>

                            <li>
                                <a href="{{ path('app_category_list') }}">View All</a>
                            </li>

                            {% for c in get_categories() %}
                                <li>
                                    <a
                                        href="{{ path('app_category_view', {'category': c.getSlug}) }}">
                                        {{ c.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    </li>

                    <li class="{% if 'Loc' in _c %}active{% endif %}">
                        <a href="{{ url('app_location') }}">{{ fa('map') }} Location</a>
                    </li>

                    <li class="{% if 'Contact' in _c %}active{% endif %}">
                        <a href="{{ url('app_contact_view') }}">{{ fa('comment') }} Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-main-wrap">
        {% block header %}
            <div class="bread">
                <div class="container">
                    <ul class="list-unstyled">
                        {% block bread %}
                            <li><a href="/">Home</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        {% endblock %}

        {% block body %}
        <div class="container">
            <div class="row">
                {% block bodyRow %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>


    <footer>
        <div class="container">
            <div class="footer-copy">

                <div class="footer-copy-copyright">
                    {{ block_content('footer') }}
                </div>

                <div class="footer-copy-contact">
                    <p>{{ config('address') }} | {{ config('phone') }}</p>
                </div>

            </div>

        </div>
    </footer>

    {% block javascripts %}
        <script src="{{  asset('assets/scr/app.js') }}"></script>
    {% endblock %}

</body>
</html>
