<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Silver Papillon{% endblock %}</title>

    {% block stylesheets %}
        {% if app.environment == 'prod' %}
            <link rel="stylesheet" href="{{  asset('components/stylesheets/app.min.css') }}" />
        {% else %}
            <link rel="stylesheet" href="{{  asset('components/stylesheets/app.css') }}" />
        {% endif %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" />
    {% endblock %}

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{ asset('bundles/app/images/logo-small.png') }}" height="58px" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">News</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('app_store_list') }}">All</a></li>
                            {% for category in categories %}
                                <li><a href="{{ path('app_category_view', {'category_name': category.name|lower, 'category': category.id}) }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="main-container">
        {% block jumbotron %}
        <div class="jumbotron">
            <div class="container">
                {% block lead %}{% endblock %}
            </div>
        </div>
        {% endblock %}

        {% block body %}
        <div class="container">
            <div class="row">
                {% block bodyRow %}
                <div class="col-md-4">
                    <div class="card">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h2>Heading</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    <div class="container">
        <hr>

        <footer>
            <p>&copy; 2016 Silver Papillon</p>
        </footer>
    </div>

    {% block javascripts %}
        {% if app.environment == 'prod' %}
            <script src="{{  asset('components/javascripts/app.min.js') }}"></script>
        {% else %}
            <script src="{{  asset('components/javascripts/app.js') }}"></script>
        {% endif %}
    {% endblock %}

</body>
</html>
