<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Silver Papillon{% endblock %}</title>

    {% block stylesheets %}
        {% if app.environment == 'prod' %}
            <link rel="stylesheet" href="{{  asset('assets/css/app.min.css') }}" />
        {% else %}
            <link rel="stylesheet" href="{{  asset('assets/css/app.css') }}" />
        {% endif %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" />
    {% endblock %}

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{{ asset('bundles/app/images/logo-small.png') }}" height="58px" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if 'Default' in _c %}active{% endif %}">
                        <a href="/">Home</a>
                    </li>

                    <li class="{% if 'About' in _c %}active{% endif %}">
                        <a href="{{ url('app_about') }}">About</a>
                    </li>

                    <li class="{% if 'Feed' in _c %}active{% endif %}">
                        <a href="{{ url('app_feed_view') }}">News</a>
                    </li>

                    <li class="{% if 'Category' in _c %}active{% endif %} dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Products <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('app_category_list') }}">Show All</a>
                            </li>

                            {% for c in categories %}
                                <li class="{% if category is defined and category.getId == c.getId %}active{% endif %}">
                                    <a
                                        href="{{ path('app_category_view', {'categoryName': c.name|replace({' ': '-'})|lower, 'category': c.id}) }}">
                                        {{ c.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                    </li>

                    <!--
                    <li class="{% if 'Cart' in _c %}active{% endif %} dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Your Cart <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('app_cart_view') }}">View Cart</a>
                            </li>
                            <li>
                                <a href="{{ path('app_orders_list') }}">Order History</a>
                            </li>
                        </ul>

                    </li>
                    -->

                    <li class="{% if 'Contact' in _c %}active{% endif %}">
                        <a href="{{ url('app_contact_view') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-main-wrap">
        {% block header %}
            <div class="bread">
                <div class="container">
                    <ul class="list-unstyled">
                        {% block bread %}
                            <li><a href="/">Home</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        {% endblock %}

        {% block body %}
        <div class="container">
            <div class="row">
                {% block bodyRow %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>


    <footer>
        <div class="container">
            {{ block_content('about.copyright') }}
        </div>
    </footer>

    {% block javascripts %}
        {% if app.environment == 'prod' %}
            <script src="{{  asset('assets/scr/app.min.js') }}"></script>
        {% else %}
            <script src="{{  asset('assets/scr/app.js') }}"></script>
        {% endif %}
    {% endblock %}

</body>
</html>
