<div class="checkout-info">

    <div class="card">
        <h3 class="primary-hr-i">
            {{ ion('bag') }} Cart <em>Summary</em>
        </h3>

        <div class="checkout-info-item-group">

            {% for g in cart_items_grouped() %}
                <div class="checkout-info-item">
                    <div class="cart-item-image">
                        <img alt="{{ g.getProduct.getName }}" src="{{ asset_product(g.getProduct.getImage) | imagine_filter('product_thumb_sm') }}" />
                    </div>
                    <h4>
                        <a href="{{ path('app_product_view', {'productName': g.getProduct.getName|slugify, 'product': g.getProduct.getId, 'category': g.getProduct.getCategory.getSlug}) }}">
                            {{ g.getProduct.getName }}
                        </a>
                    </h4>
                    <h5>
                        {% if g.count != 1 %}
                            ${{ g.getProduct.getPrice()|number_format(2, '.', ',') }} x {{ g.count() }} =
                        {% endif %}
                        <em>${{ g.total()|number_format(2, '.', ',') }}</em>
                    </h5>
                </div>
            {% endfor %}

        </div>

        <div class="cart-total">
            <dl class="cart-total-breakdown pull-right">
                <dt>Tax</dt>
                <dd>${{ cart_tax()|number_format(2, '.', ',') }}</dd>
                <dt>Shipping</dt>
                <dd>${{ cart_shipping()|number_format(2, '.', ',') }}</dd>
            </dl>
            {% if cart_has_discount() %}
                <dl class="cart-total-discount">
                    <dt>Coupon ({{ cart_discount_code() }})<!-- (<a href="{{ path('app_cart_coupon_remove', {code: cart_discount_code()}) }}">remove</a>)--></dt>
                    <dd>-${{ cart_discount()|number_format(2, '.', ',') }}</dd>
                </dl>
            {% endif %}
            <dl class="cart-total-total">
                <dt>Total</dt>
                <dd>${{ cart_total()|number_format(2, '.', ',') }}</dd>
            </dl>
        </div>

    </div>

    {% if couponForm is defined %}

        <div class="card">
            <div class="cart-coupon">
                <h3 class="primary-hr-i">
                    {{ ion('pricetags') }} Add <em>Coupon</em>
                </h3>

                {% if cart_has_discount_err() %}
                    <div class="cart-coupon-error">
                        <p>ERROR: <em>{{ cart_discount_err_msg() }}</em></p>
                    </div>
                {% elseif couponErrs is defined and couponErrs != null %}
                    <div class="cart-coupon-error">
                        <p>ERROR: <em>{{ couponErrs }}</em></p>
                    </div>
                {% elseif couponOkay is defined and couponOkay != null %}
                    <div class="cart-coupon-okay">
                        <p>SUCCESS: <em>{{ couponOkay }}</em></p>
                    </div>
                {% endif %}

                <div class="form-basic">

                    {{ form_start(couponForm) }}

                    {{ form_widget(couponForm.code, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_widget(couponForm.submit, { 'attr': {'class': 'btn btn-sm btn-primary'}, 'label': 'Apply Coupon Code' }) }}

                    {{ form_end(couponForm) }}

                </div>
            </div>
        </div>

    {% endif %}

</div>
