
{#
 # category list item
 #}

<div class="card-category">
    <div class="card" data-href="{{ url('app_category_view', {'categoryName': category.getName|slugify, 'category': category.getId}) }}">
        <div class="category">

            <div class="category-name">
                <a href="{{ url('app_category_view', {'categoryName': category.getName|slugify, 'category': category.getId}) }}">{{ category.getName }}</a>
            </div>

            <div class="category-products">

                {% for p in category.getProducts|slice(0, 5) %}
                    <img src="/uploads/images/products/{{ p.getImage }}" alt="{{ p.getName }} Product Image" />
                {% endfor %}

            </div>

        </div>
    </div>
</div>