
<div class="card-feed-photo">
    <div class="card is-linkable is-animated" data-href="{{ url('app_feed_view', {_fragment: f.getId}) }}">

        {% include 'AppBundle:fragment:feed-type-head.html.twig' with {
            'is_video' : a.isVideo()
        } only %}

        <div class="card-section-body">

            <a  class="feed-attachment-link"
                title="{{ a.getCreatedOn()|default(f.getCreatedOn()) | date("m/d/Y") }} - {{ a.getText()|default(f.getMessage()) }}"
                data-fancybox-initialized="0"
                rel="photo-group"
                {% if a.isVideo() %}
                    href="{{ href }}"
                    data-fancybox-type="iframe"
                    data-fancybox-height="480px"
                    data-fancybox-width="720px"
                {% else %}
                    href="{{ href | url_to_file | imagine_filter('lightbox_focus') }}"
                {% endif %}
            >
                <img class="feed-attachment" src="{{ thumb | url_to_file | imagine_filter('feed_photo_thumbs')  }}" alt="{{ a.getText()|default(f.getMessage()) }}" />
            </a>

        </div>

    </div>
</div>
