
{#
 # complete fb feed listing
 #}

{% for f in feed|slice(0, count) if f.getAttachments.count() > 0 %}
    <div class="card-feed-social" id="{{ f.getId }}">
        <div class="card is-animated">

            <div class="card-section-head">

                <div class="feed-info-type">
                    {% if f.isVideo %}
                        {{ ion('videocamera') }}
                    {% elseif f.isPhoto %}
                        {{ ion('images') }}
                    {% else %}
                        {{ ion('document-text') }}
                    {% endif %}
                </div>

                <div class="feed-info-date">
                    <time datetime="{{ f.getCreatedOn().format('c') }}">{{ f.getCreatedOn().format('F j Y') }} @ {{ f.getCreatedOn().format('g:ia') }}</time>
                </div>

            </div>

            <div class="card-section-body">

                <div class="feed-post-message">
                    <p>{{ f.getMessage() }}</p>
                </div>

            </div>

            <div class="card-section-foot">
                <div class="feed-post-attachments">

                    {% for a in f.getAttachments|slice(0,1) %}
                        <div class="card-feed-attachment">
                            <div class="card is-linkable is-animated {% if f.isVideo() %}card-feed-attachment-video{% endif %}" {% if f.isVideo() %}data-href="{{ a.getFormatLargerThan(1024).getLink() }}"{% endif %}>

                                {% include 'AppBundle:fragment:feed-type-head.html.twig' with {
                                    'is_video' : f.isVideo()
                                } only %}

                                <div class="card-section-body">
                                    <img src="{{ a.getFormatSmallerThan(1024).getLink() | url_to_file | imagine_filter('feed_social_thumbs') }}" alt="{{ f.getDescription() }}" />
                                </div>

                                {% include 'AppBundle:fragment:feed-type-foot.html.twig' with {
                                    'is_video'   : f.isVideo(),
                                    'photo_text' : 'Enlarge Photo'
                                } only %}

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
{% endfor %}
