{% extends '@EasyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title 'Silver Papillon Admin' %}
{% block body_id 'admin-login' %}

{% block main %}
    <div class="admin-login-container">
        <div class="admin-login-row">
            <h1>Silver Papillon Admin</h1>

            <div class="admin-login-form">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if error %}
                        <div class="has-error">
                            <p class="error-block">
                            <span class="label label-danger">
                                {{ 'errors'|transchoice(1, domain = 'EasyAdminBundle') }}
                            </span>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </p>
                        </div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <fieldset class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username" required="required" />
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </fieldset>

                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" checked id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </fieldset>

                    <fieldset class="form-group text-center">
                        <button type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
