{% extends '@EasyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_stylesheets %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        {% javascripts 'assets/javascripts/app.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts 'assets/javascripts/app.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    {% if app.environment == 'dev' %}
        {% stylesheets 'assets/stylesheets/app.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% else %}
        {% stylesheets 'assets/stylesheets/app.min.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block page_title 'Silver Papillon Admin' %}
{% block body_id 'admin-login' %}

{% block main %}
    <div class="admin-login-container">
        <div class="admin-login-row">
            <h1>Silver Papillon Admin</h1>

            <div class="admin-login-form">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if error %}
                        <div class="has-error">
                            <p class="error-block">
                            <span class="label label-danger">
                                {{ 'errors'|transchoice(1, domain = 'EasyAdminBundle') }}
                            </span>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </p>
                        </div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <fieldset class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username" required="required" />
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </fieldset>

                    <fieldset class="checkbox">
                        <label>
                            <input type="checkbox" checked id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </fieldset>

                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
