<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin:0;padding:0;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofollow" />
    <meta property="og:title" content="Silver Papillon - {{ title }}" />

    <title>{{ title }} - Silver Papillon</title>

    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Oswald:400,700,400italic|Roboto:400,700,400italic,700italic|Roboto+Condensed:400,700,400italic,700italic);
    </style>

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700,400italic|Roboto:400,700,400italic,700italic|Roboto+Condensed:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body style="margin:0;padding:0;-webkit-text-size-adjust:100%;">

    <span style="display:none;font-size:1px;color:#fff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
        An order for {{ order.getItemCount() }} items needs fulfillment, including {{ format_object_list(order.getItems().toArray(), ', ', '"%s"', 'getName')|raw }}.
    </span>

    <table style="border-collapse:collapse;table-layout:fixed;min-width:320px;width:100%;background-color:#fff;" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
            <tr>
                <td>
                    <div role="banner" style="background-color:#fafafc;">
                        <div style="background-color:#3ba2f3;">
                            <div style="line-height:3px;font-size:40px;">&nbsp;</div>
                        </div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);" id="emb-email-header-container">
                            <div style="line-height:12px;font-size:40px;">&nbsp;</div>
                            <div style="font-size:26px;line-height:32px;margin-top:3px;margin-bottom:6px;color:#c3ced9;font-family:Roboto,Tahoma,sans-serif;" align="center">
                                <div align="center" id="emb-email-header">
                                    <a style="text-decoration:none;transition:opacity 0.1s ease-in;color:#c3ced9;" href="https://silverpapillon.com/"><img style="display:block;height:auto;width:100%;border:0;max-width:183px;" src="https://silverpapillon.com/bundles/app/images/logo-small.png?v=1.2.1" alt="Silver Papillon Logo" width="183" /></a>
                                </div>
                            </div>
                            <div style="line-height:12px;font-size:40px;">&nbsp;</div>
                        </div>
                    </div>
                    <div role="section">
                        <div style="background-color:#3ba2f3;">
                            <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                                <div style="border-collapse:collapse;display:table;width:100%;">
                                    <div style="float:left;max-width:320px;min-width:200px; width:320px;width:calc(72200px - 12000%);text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;">
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <h3 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#281557;font-size:14px;line-height:19px;font-family:roboto condensed,arial narrow,avenir next condensed,roboto,sans-serif;text-align:center;" lang="x-size-14"><span ><a style="text-decoration:none;transition:opacity 0.1s ease-in;color:#18527c;" href="https://silverpapillon.com/store/list"><span style="color:#fff"><strong>OUR PRODUCTS</strong></span></a></span></h3>
                                        </div>
                                    </div>
                                    <div style="float:left;max-width:320px;min-width:200px; width:320px;width:calc(72200px - 12000%);text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;">
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <h3 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#281557;font-size:14px;line-height:19px;font-family:roboto condensed,arial narrow,avenir next condensed,roboto,sans-serif;text-align:center;" lang="x-size-14"><span ><a style="text-decoration:none;transition:opacity 0.1s ease-in;color:#18527c;" href="https://silverpapillon.com/feed"><span style="color:#fff"><strong>LATEST NEWS</strong></span></a></span></h3>
                                        </div>
                                    </div>
                                    <div style="float:left;max-width:320px;min-width:200px; width:320px;width:calc(72200px - 12000%);text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;">
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <h3 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#281557;font-size:14px;line-height:19px;font-family:roboto condensed,arial narrow,avenir next condensed,roboto,sans-serif;text-align:center;" lang="x-size-14"><span ><a style="text-decoration:none;transition:opacity 0.1s ease-in;color:#18527c;" href="https://silverpapillon.com/contact"><span style="color:#fff"><strong>CONTACT US</strong></span></a></span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="background-color:#3ba2f3;">
                            <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                                <div style="border-collapse:collapse;display:table;width:100%;">
                                    <div style="max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;">
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="background-color:#1382d9;">
                            <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                                <div style="border-collapse:collapse;display:table;width:100%;">
                                    <div style="max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;">
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:60px;font-size:1px">&nbsp;</div>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <h1 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#000;font-size:40px;line-height:47px;font-family:roboto,tahoma,sans-serif;text-align:center;" lang="x-size-56"><span ><strong><span style="color:#ffffff">{{ title }}</span></strong></span></h1>
                                            <p style="margin-top:20px;margin-bottom:4px;font-family:roboto condensed,arial narrow,avenir next condensed,roboto,sans-serif;font-size:16px;line-height:24px;text-align:center;" lang="x-size-16"><span ><span style="color:#ffffff">Reference ID: <strong>{{ order.getOrderNumber() }}</strong></span></span></p>
                                            <p style="margin-top:4px;margin-bottom:20px;font-family:roboto condensed,arial narrow,avenir next condensed,roboto,sans-serif;font-size:16px;line-height:24px;text-align:center;" lang="x-size-16"><span ><span style="color:#ffffff">Placed On: <strong>{{ order.getCreatedOn().format('l F j Y @ g:i:s A') }}</strong></span></span></p>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:5px;font-size:1px">&nbsp;</div>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:40px;font-size:1px">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#fff;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:40px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:0;font-family:roboto,tahoma,sans-serif;font-size:18px;line-height:32px;text-align:center;" lang="x-size-18">
                                            <span style="color:#555">
                                                An order for {{ order.getName() }} has been successfully charged by Silver
                                                Papillon and their {{ order.getItemCount() }}
                                                {% if order.getItemCount() == 1 %}item{% else %}items{% endif %}
                                                should be immediately fulfilled using the following invoice details.
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="line-height:15px;font-size:15px;">&nbsp;</div>

                        <div style="margin-left:20px;margin-right:20px;">
                            <div style="display:block;font-size:2px;line-height:1px;margin-left:auto;margin-right:auto;width:80%;background-color:#7a8086;margin-bottom:20px;margin-top:45px;">&nbsp;</div>
                        </div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:40px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <h2 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#e31212;font-size:36px;line-height:45px;font-family:roboto,tahoma,sans-serif;text-align:center;" lang="x-size-36"><span ><span style="color:#d80874">Order Details</span></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for item in order.getItems() %}
                            <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                            <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                                <div style="border-collapse:collapse;display:table;width:100%;background-color:#fafafc;">
                                    <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;float:left;max-width:400px;min-width:320px; width:320px;width:calc(8000% - 47600px);">
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:20px;font-size:1px">&nbsp;</div>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <h3 style="margin-top:0;margin-bottom:12px;font-style:normal;font-weight:normal;color:#1381d9;font-size:20px;line-height:28px;font-family:roboto condensed,arial narrow,avenir next condensed,roboto,sans-serif;" lang="x-size-24"><span ><strong><a style="text-decoration:none;transition:opacity 0.1s ease-in;color:#18527c;" href="{{ url('app_product_view', {
                                                            category:order_product(item).getCategory().getSlug(),
                                                            productName:order_product(item).getName()|slugify,
                                                            product:order_product(item).getId()
                                                        }) }}">{{ order_product(item).getName() }}</a></strong></span></h3>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <p style="margin-top:0;margin-bottom:20px;font-family:roboto,tahoma,sans-serif;font-size:11px;line-height:19px;" lang="x-size-11"><span ><strong><span style="color:#7a8086">SKU:{{ order_product(item).getSku() }}</span></strong>
                                                      </span>
                                            </p>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;margin-top:45px;margin-bottom:20px;">
                                            <p style="margin-top:0;margin-bottom:0;font-family:roboto,tahoma,sans-serif;font-size:18px;line-height:26px;" lang="x-size-22"><span ><span style="color:#646c73">{% if item.getCount() > 1 %}${{ order_product(item).getPrice()|number_format(2, '.', ',') }} x {{ item.getCount() }}{% endif %}<br /><strong>${{ item.getTotal()|number_format(2, '.', ',') }}</strong></span></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;float:left;max-width:320px;min-width:200px; width:320px;width:calc(72200px - 12000%);">
                                        <div style="font-size:12px;font-style:normal;font-weight:normal;" align="center">
                                            <img style="border:0;display:block;height:auto;width:100%;max-width:480px;" alt="{{ order_product(item).getName() }}" width="200"
                                                 src="{{ asset_product(order_product(item).getImage()) | imagine_filter('product_thumb') | replace_domain('silverpapillon.com') }}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#fff;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:40px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:0;font-family:roboto,tahoma,sans-serif;font-size:36px;line-height:45px;text-align:center;" lang="x-size-36"><span ><span style="color:#d80874">Payment</span></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#fafafc;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;float:left;max-width:320px;min-width:200px; width:320px;width:calc(72200px - 12000%);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:30px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:roboto,tahoma,sans-serif;font-size:17px;line-height:26px;text-align:center;" lang="x-size-18"><span ><span style="color:#7a8086"><strong>Shipping</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="display:block;font-size:2px;line-height:1px;margin-left:auto;margin-right:auto;width:40px;background-color:#7a8086;margin-bottom:20px;">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:oswald,avenir next condensed,arial narrow,ms ui gothic,sans-serif;font-size:26px;line-height:34px;text-align:center;" lang="x-size-30"><span ><span style="color:#18527c"><strong>${{ order.getShipping()|number_format(2, '.', ',') }}</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                    </div>
                                </div>
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;float:left;max-width:320px;min-width:200px; width:320px;width:calc(72200px - 12000%);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:30px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:roboto,tahoma,sans-serif;font-size:17px;line-height:26px;text-align:center;" lang="x-size-18"><span ><span style="color:#7a8086"><strong>Tax</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="display:block;font-size:2px;line-height:1px;margin-left:auto;margin-right:auto;width:40px;background-color:#7a8086;margin-bottom:20px;">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:oswald,avenir next condensed,arial narrow,ms ui gothic,sans-serif;font-size:26px;line-height:34px;text-align:center;" lang="x-size-30"><span ><span style="color:#18527c"><strong>${{ order.getTax()|number_format(2, '.', ',') }}</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                    </div>
                                </div>
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;float:left;max-width:320px;min-width:200px; width:320px;width:calc(72200px - 12000%);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:30px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:roboto,tahoma,sans-serif;font-size:17px;line-height:26px;text-align:center;" lang="x-size-18"><span ><span style="color:#7a8086"><strong>Coupon</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="display:block;font-size:2px;line-height:1px;margin-left:auto;margin-right:auto;width:40px;background-color:#7a8086;margin-bottom:20px;">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:oswald,avenir next condensed,arial narrow,ms ui gothic,sans-serif;font-size:26px;line-height:34px;text-align:center;" lang="x-size-30"><span ><span style="color:#18527c"><strong>{% if order.hasCoupon() %}-${{ order.getCouponValue()|number_format(2, '.', ',') }}{% else %}n/a{% endif %}</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#fafafc;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:40px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:roboto,tahoma,sans-serif;font-size:17px;line-height:26px;text-align:center;" lang="x-size-18"><span ><span style="color:#7a8086"><strong>Total</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="display:block;font-size:2px;line-height:1px;margin-left:auto;margin-right:auto;width:40px;background-color:#7a8086;margin-bottom:20px;">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:oswald,avenir next condensed,arial narrow,ms ui gothic,sans-serif;font-size:38px;line-height:45px;text-align:center;" lang="x-size-38"><span ><span style="color:#18527c"><strong>${{ order.getTotal()|number_format(2, '.', ',') }}</strong></span></span>
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:20px;font-size:1px">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#fff;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:40px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:0;font-family:roboto,tahoma,sans-serif;font-size:36px;line-height:45px;text-align:center;" lang="x-size-36"><span ><span style="color:#d80874">Delivery Address</span></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#fafafc;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:40px;font-size:1px">&nbsp;</div>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:roboto,tahoma,sans-serif;font-size:17px;line-height:26px;text-align:center;color:#18527c;" lang="x-size-18"><strong>
                                                {{ order.getName() }}
                                            </strong></p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <p style="margin-top:0;margin-bottom:20px;font-family:roboto,tahoma,sans-serif;font-size:17px;line-height:26px;text-align:center;color:#18527c;" lang="x-size-18">
                                            {{ order.getAddress() }}<br />
                                            {{ order.getCity() }}, {{ order.getState() }} {{ order.getZip() }}
                                        </p>
                                    </div>
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:20px;font-size:1px">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                            <div style="border-collapse:collapse;display:table;width:100%;background-color:#fff;">
                                <div style="text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);">
                                    <div style="margin-left:20px;margin-right:20px;">
                                        <div style="line-height:20px;font-size:1px">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if has_returning_customer_coupon() %}
                            {% set ret_coupon = returning_customer_coupon() %}
                            <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                            <div style="background-color:#3ba2f3;">
                                <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                                    <div style="border-collapse:collapse;display:table;width:100%;">
                                        <div style="max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);text-align:left;color:#7a8086;font-size:14px;line-height:21px;font-family:sans-serif;">
                                            <div style="margin-left:20px;margin-right:20px;">
                                                <div style="line-height:80px;font-size:1px">&nbsp;</div>
                                            </div>
                                            <div style="margin-left:20px;margin-right:20px;">
                                                <h1 style="margin-top:0;margin-bottom:20px;font-style:normal;font-weight:normal;color:#000;font-size:26px;line-height:34px;font-family:roboto,tahoma,sans-serif;text-align:center;" lang="x-size-26"><span ><span style="color:#fff">
                                                    {{ order.getName() }} was presented with a coupon of
                                                    <strong>
                                                        {% if ret_coupon.hasDiscountDollars() %}
                                                            ${{ ret_coupon.getDiscountDollars()|number_format(2, '.', ',') }}
                                                        {% else %}
                                                            {{ ret_coupon.getDiscountPercent() }}%
                                                        {% endif %}
                                                    </strong>
                                                    off their next order of
                                                    {% if ret_coupon.hasMinimumRequirement() %}${{ ret_coupon.getMinimumRequirement()|number_format(2, '.', ',') }} or more{% else %}any value{% endif %}
                                                            using the coupon code <span style="font-family:'Roboto Mono',monospace;font-weight:bold;">{{ ret_coupon.getCode() }}</span>.</span></span></h1>
                                            </div>
                                            <div style="margin-left:20px;margin-right:20px;">
                                                <div style="line-height:15px;font-size:1px">&nbsp;</div>
                                            </div>
                                            <div style="margin-left:20px;margin-right:20px;">
                                                <div style="margin-bottom:20px;text-align:center;">
                                                    <a style="border-radius:3px;display:inline-block;font-size:12px;font-weight:bold;line-height:22px;padding:12px 21px;text-align:center;text-decoration:none !important;transition:opacity 0.1s ease-in;color:#ffffff !important;background-color:#d80874;font-family:sans-serif;" href="https://silverpapillon.com/store/list">SHOP NOW</a>
                                                </div>
                                            </div>
                                            <div style="margin-left:20px;margin-right:20px;">
                                                <div style="line-height:50px;font-size:1px">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                        <div style="line-height:20px;font-size:20px;">&nbsp;</div>
                        <div role="contentinfo">
                            <div style="margin:0 auto;max-width:600px;min-width:320px; width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                                <div style="border-collapse:collapse;display:table;width:100%;">
                                    <div style="text-align:left;font-size:12px;line-height:19px;color:#adb3b9;font-family:sans-serif;float:left;max-width:400px;min-width:320px; width:320px;width:calc(8000% - 47600px);">
                                        <div style="margin-left:20px;margin-right:20px;margin-top:10px;margin-bottom:10px;">
                                            <div style="margin-left:20px;margin-right:20px;">
                                                <div style="line-height:30px;font-size:1px">&nbsp;</div>
                                            </div>
                                            <div style="font-size:12px;line-height:19px;margin-top:20px;">
                                                <div>
                                                    Silver Papillon
                                                    <br /> 11 W Main St
                                                    <br /> Mystic, Connecticut 06355
                                                </div>
                                            </div>
                                            <div style="margin-left:20px;margin-right:20px;">
                                                <div style="line-height:30px;font-size:1px">&nbsp;</div>
                                            </div>
                                            <table style="border-collapse:collapse;table-layout:fixed;" role="presentation">
                                                <tbody>
                                                <tr role="navigation">
                                                    <td style="padding:0;width:26px;">
                                                        <a style="text-decoration:underline;transition:opacity 0.1s ease-in;color:#adb3b9;" href="https://www.facebook.com/SilverPapillonOfMystic"><img style="border:0;" src="https://i2.createsend1.com/static/eb/master/13-the-blueprint-3/images/facebook.png" width="26" height="26" /></a>
                                                    </td>
                                                    <td style="padding:0 0 0 3px;width:26px;">
                                                        <a style="text-decoration:underline;transition:opacity 0.1s ease-in;color:#adb3b9;" href="https://silverpapillon.com/"><img style="border:0;" src="https://i7.createsend1.com/static/eb/master/13-the-blueprint-3/images/website.png" width="26" height="26" /></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <div style="line-height:50px;font-size:1px">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
