{% extends 'base.html.twig' %}

{% block bread %}
    {{ parent() }}
    <li>Your Cart</li>
{% endblock %}

{% block body %}

<div class="container container-sr">

    {% if cart_count() == 0 %}

        {% include 'AppBundle:fragment:action-status-icon.html.twig' with {
            'icon_mg' : 'fa-ban',
            'icon'    : 'fa-shopping-bag',
            'text'    : 'Your shopping cart is currently empty.'
        } only %}

    {% else %}

        <div class="cart-listing">
            {% for g in cart_items_grouped() %}
                <div class="card cart-item">
                    <div class="cart-item-info">
                        <div class="cart-item-image">
                            <img alt="{{ g.getProduct.getName }}" src="{{ asset_product(g.getProduct.getImage) | imagine_filter('cart_product_thumb') }}" />
                        </div>
                        <h4><a href="{{ path('app_product_view', {'productName': g.getProduct.getName|slugify, 'product': g.getProduct.getId, 'category': g.getProduct.getCategory.getSlug}) }}">{{ g.getProduct.getName }}</a></h4>
                        <h6>Category:
                            <a href="{{ url('app_category_view', {'category': g.getProduct.getCategory.getSlug}) }}">
                                {{ g.getProduct.getCategory.getName }}
                            </a>
                        </h6>
                    </div>
                    <div class="cart-item-actions">
                        <p>
                            <span class="cart-item-actions-count label label-default">
                                <em>${{ (g.getProduct.getShippingRate*g.count)|number_format(2, '.', ',') }}</em> shipping
                            </span>
                            <span class="label label-primary cart-item-actions-total">
                                {% if g.count != 1 %}
                                    ${{ g.getProduct.getPrice()|number_format(2, '.', ',') }} x {{ g.count() }} =
                                {% endif %}
                                <em>${{ g.total()|number_format(2, '.', ',') }}</em>
                            </span>
                        </p>
                        <div class="btn-group">
                            <a href="{{ url('app_cart_remove_group', {product: g.getProduct.getId}) }}" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash fa-fw"></i>
                            </a>
                            <a href="{{ url('app_cart_remove', {product: g.getProduct.getId, quantity: 1}) }}" class="btn btn-sm btn-warning">
                                <i class="fa fa-minus fa-fw"></i>
                            </a>
                            <a href="{{ url('app_cart_add', {product: g.getProduct.getId, quantity: 1}) }}" class="btn btn-sm btn-success">
                                <i class="fa fa-plus fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="cart-actions">
            <div class="cart-btns">
                <div class="btn-group">
                    <a href="{{ url('app_cart_clear') }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i> Remove All
                    </a>
                    <a href="{{ url('app_cart_checkout') }}" class="btn btn-primary">
                        <i class="fa fa-shopping-cart"></i> Check Out
                    </a>
                </div>
            </div>
            <div class="cart-total pull-right">
                <dl class="cart-total-breakdown">
                    <dt>Sub-Total</dt>
                    <dd>${{ cart_subTotal()|number_format(2, '.', ',') }}</dd>
                    <dt>Tax</dt>
                    <dd>${{ cart_tax()|number_format(2, '.', ',') }}</dd>
                    <dt>Shipping</dt>
                    <dd>${{ cart_shipping()|number_format(2, '.', ',') }}</dd>
                </dl>
                <dl class="cart-total-total">
                    <dt>Total</dt>
                    <dd>${{ cart_total()|number_format(2, '.', ',') }}</dd>
                </dl>
            </div>
        </div>

    {% endif %}

</div>

{% endblock %}
