{% extends '::base.html.twig' %}

{% block header %}
    <div id="carousel-index" class="carousel slide" data-ride="carousel" data-interval="4000">

        <ol class="carousel-indicators">
            <li data-target="#carousel-index" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-index" data-slide-to="1"></li>
            <li data-target="#carousel-index" data-slide-to="2"></li>
            <li data-target="#carousel-index" data-slide-to="3"></li>
            <li data-target="#carousel-index" data-slide-to="4"></li>
            <li data-target="#carousel-index" data-slide-to="5"></li>
            <li data-target="#carousel-index" data-slide-to="6"></li>
            <li data-target="#carousel-index" data-slide-to="7"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ asset('bundles/app/images/store/store-front-sign.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/app/images/store/store-front-table.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/app/images/store/store-inside-display-01.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/app/images/store/store-inside-cases-01.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/app/images/store/store-inside-cases-02.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/app/images/store/store-inside-wall-3.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/app/images/store/nearby-bridge.jpg') }}" alt="">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/app/images/store/store-front-wide.jpg') }}" alt="">
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-index" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-index" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="promo">
        <div class="container">
            <a href="{{ path('app_category_list') }}" class="pull-right btn btn-primary">Shop Now <i class="fa fa-long-arrow-right"></i></a>
            <h2>Bowse our large collection of Wine Caddies and other items now!</h2>
        </div>
    </div>
{% endblock %}

{% block bodyRow %}
    {% block body %}
    <div class="container products-index">
        <h2>Featured Products</h2>
        <div class="row">
        {% for feature in featured %}
            <div class="col-md-4">
                <div class="card">
                    <div class="product" data-href="{{ path('app_product_view', {'productName': feature.getName|replace({' ': '-'})|lower, 'product': feature.getId}) }}">
                        <img src="/uploads/images/products/{{ feature.getImage }}" alt="{{ feature.getName }} Product Image" />
                        <div class="product-info">
                            <div class="product-price">
                                <p>${{ feature.getPrice|number_format(2, '.', ',') }}</p>
                            </div>
                            <div class="product-name">
                                <h4>{{ feature.getName }}</h4>
                            </div>
                            <div class="product-add">
                                <a href="{{ path('app_product_view', {'productName': feature.getName|replace({' ': '-'})|lower, 'product': feature.getId}) }}">
                                    <span>View Item Details</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="container-wrap">
        <div class="container feed-index">
            <h2>Latest Shared Photos</h2>
            <div class="row">
                {% set itemCount = 0 %}
                {% for i, item in feed if item.isVideo != true and itemCount < 8 %}
                    {% set itemCount = itemCount + 1 %}
                    <div id="feed-post-{{ item.getId }}" class="feed-post-wrapper-index col-sm-3">
                        <div class="feed-post-index" data-href="{{ url('app_feed_view') }}#F_{{ item.getId }}">
                            <div class="feed-post-attachments">
                                {% set attachmentCount = 0 %}
                                {% for attachment in item.getAttachments() if (attachment.hasMedia or attachment.hasSubAttachments) %}
                                    {% for media in attachment.getMedia %}
                                        {% set attachmentCount = attachmentCount + 1 %}
                                        <div class="feed-post-attachment-media">
                                            <img class="img-responsive center-block" src="{{ media.getLink() }}" alt="{{ attachment.getDescription }}" />
                                        </div>
                                    {% endfor %}
                                    {% for subAttachment in attachment.getSubAttachments if attachment.hasSubAttachments %}
                                        {% for media in subAttachment.getMedia %}
                                            {% set attachmentCount = attachmentCount + 1 %}
                                            <div class="feed-post-attachment-media">
                                                <img class="img-responsive center-block" src="{{ media.getLink() }}" alt="{{ attachment.getDescription }}" />
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                                {% if item.isVideo %}
                                    {% set overlayType = 'feed-post-attachments-overlay-video' %}
                                    {% set overlayData = '<p><i class="fa-youtube-play fa"></i></p><p>continue to video post</p>' %}
                                {% elseif item.isPhoto %}
                                    {% set overlayType = 'feed-post-attachments-overlay-photo' %}
                                    {% set overlayData = '<p><i class="fa-picture-o fa"></i></p><p>continue to album post</p>' %}
                                {% else %}
                                    {% set overlayType = 'feed-post-attachments-overlay-generic' %}
                                    {% set overlayData = '<p><i class="fa fa-long-arrow-right"></i></p><p>continue to full post</p>' %}
                                {% endif %}
                                <div class="feed-post-attachments-overlay {{ overlayType }}">
                                    {{ overlayData|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ path('app_feed_view') }}" class="pull-right btn btn-primary">View All Shared Items <i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>
    <div class="container index-info">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="primary-hr-i">Our <em>Address</em></h2>
                <p>11 W Main St<br />Mystic<br />Connecticut 06355</p>
            </div>
            <div class="col-sm-4">
                <h2 class="primary-hr-i">Our <em>Hours</em></h2>
                <ul class="list-unstyled index-info-hours">
                {% for hour in hours %}
                    <li {% if hour.dowToday %}class="today"{% endif %}>
                        {% if hour.isClosed %}
                            <strong>CLOSED</strong>
                        {% else %}
                            {{ hour.getTimeOpen.format('h:ia') }} - {{ hour.getTimeClose.format('h:ia') }}
                        {% endif %}
                        <em>{{ hour.getDow }}</em>
                        {% if hour.dowToday %}<span class="today">(today's hours)</span>{% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <h2 class="primary-hr-i">Our <em>Phone</em></h2>
                <p>(860) 415-8737</p>
            </div>
        </div>
        <!--
        <h2>Contact Us</h2>
        <div class="row">
            <div class="col-sm-9">
                {{ form_start(form) }}
                {{  form_end(form) }}
            </div>
            <div class="col-sm-3">
                <p>Need to contact us?</p>
            </div>
        </div>
        -->
    </div>
    {% endblock %}
{% endblock %}
