{% extends '::base.html.twig' %}

{% if has_fb_feed_cached() %}
    {% block headBeforeEnd %}
        <script type="application/ld+json">
            {% include 'AppBundle:fragment:feed-structured-markup-json-ld.json.twig' with {
                'feed'  : get_fb_feed(),
                'count' : config('feed.count.news', 12)
            } only %}
        </script>
    {% endblock %}
{% endif %}

{% block bread %}
    {{ parent() }}
    <li>News</li>
{% endblock %}

{% block body %}
    <div class="container container-sr">
        <div class="feed-social">

            <div id="feed-listing" class="card-feed-listing" {% if has_fb_feed_cached() != true %}data-href="{{ url('app_fragment_feed') }}"{% endif %}>
                {% if has_fb_feed_cached() %}
                    {% include 'AppBundle:fragment:feed-list-whole.html.twig' with {
                        'feed'  : get_fb_feed_cached(),
                        'count' : config('feed.count.news', 12)
                    } only %}
                {% else %}
                    {% include 'AppBundle:fragment:action-status-icon.html.twig' with {
                        'icon'       : 'fa-refresh',
                        'icon_class' : 'fa-spin',
                        'text'       : 'Loading...'
                    } only %}
                {% endif %}
            </div>

            <div class="feed-social-link">
                <div class="card">

                    <h3 class="primary-hr-i">
                        {{ ion('forward') }} {{ block_title('feed.more') }}
                    </h3>

                    {{ block_content('feed.more') }}

                    {% include 'AppBundle:fragment:link-button-block.html.twig' with {
                        'url'  : block_prop('feed.more', 'link_href'),
                        'text' : block_prop('feed.more', 'link_text')
                    } only %}

                </div>
            </div>

        </div>
    </div>
{% endblock %}
