{% extends '::base.html.twig' %}

{% block bread %}{{ parent() }} <li>News Feed</li>{% endblock %}

{% block body %}

    <div class="container container-sr">
        <div class="feed-social">
            <div class="feed-social-listing">

                {% for i, item in feed if i < 12 %}
                    <div class="card-feed-social" id="{{ item.getId }}">
                        <div class="card is-animated">

                            <div class="card-section-head">
                                <div class="feed-info-type">
                                    {% if item.isVideo %}
                                        <i class="fa fa-video-camera"></i>
                                    {% elseif item.isPhoto %}
                                        <i class="fa fa-photo"></i>
                                    {% else %}
                                        <i class="fa fa-file-text-o"></i>
                                    {% endif %}
                                </div>
                                <div class="feed-info-date">
                                    <time datetime="{{ item.getDate().format('c') }}">{{ item.getDate().format('F j Y') }} @ {{ item.getDate().format('g:ia') }}</time>
                                </div>
                            </div>

                            <div class="card-section-body">
                                <div class="feed-post-message">
                                    <p>{{ item.getMessage() }}</p>
                                </div>
                            </div>

                            <div class="card-section-foot">
                                <div class="feed-post-attachments">
                                    {% set attachments = [] %}
                                    {% for attachment in item.getAttachments() if attachment.hasMedia or attachment.hasSubAttachments %}
                                        {% for media in attachment.getMedia %}{% set attachments = attachments|merge([media]) %}{% endfor %}
                                        {% for subAttachment in attachment.getSubAttachments if attachment.hasSubAttachments %}
                                            {% for media in subAttachment.getMedia %}{% set attachments = attachments|merge([media]) %}{% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% for a in attachments %}
                                        <div class="card-feed-attachment">
                                            <div class="card is-linkable is-animated {% if item.isVideo %}card-feed-attachment-video{% endif %}" {% if item.isVideo %}data-href="{{ item.getAttachments()|first.getLink }}"{% endif %}>
                                                {% if item.isVideo %}
                                                    <div class="card-section-head is-overlay">
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-circle fa-stack-2x"></i>
                                                          <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                {% else %}
                                                    <div class="card-section-head is-overlay">
                                                        <span class="fa-stack fa-lg">
                                                          <i class="fa fa-circle fa-stack-2x"></i>
                                                          <i class="fa fa-expand fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </div>
                                                {% endif %}
                                                <div class="card-section-body">
                                                    <img src="{{ a.getLink() | url_to_file | imagine_filter('feed_social_thumbs') }}" alt="{{ item.getMessage() }}" data-jslghtbx="{{ a.getLink() | url_to_file }}" data-jslghtbx-group="feed-attachment-group-{{ i }}" />
                                                </div>
                                                <div class="card-section-foot is-overlay is-toggleable">
                                                    <p class="feed-type">
                                                        {% if item.isVideo %}
                                                            <i class="fa-youtube-play fa"></i> View video
                                                        {% else %}
                                                            <i class="fa-picture-o fa"></i>    Enlarge photo
                                                        {% endif %}

                                                        <i class="fa fa-long-arrow-right"></i>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="feed-social-link">
                <div class="card">
                    <h3 class="primary-hr-i">Read <em>More</em></h3>

                    <p>Looking for more news and information?! Join us on Facebook and be sure to like our page!</p>
                    <a href="https://www.facebook.com/SilverPapillonOfMystic" class="btn btn-block btn-primary">Visit our Facebook Page <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
