{% extends '::base.html.twig' %}

{% block bread %}{{ parent() }} <li>News Feed</li>{% endblock %}

{% block body %}

    <div class="container container-sr">
        <div class="feed-social">
            <div class="feed-social-listing">

                {% for i, item in feed if i < 12 %}
                    <div class="card-feed-social" id="{{ item.getId }}">
                        <div class="card is-animated">

                            <div class="card-section-head">
                                <div class="feed-info-type">
                                    {% if item.isVideo %}
                                        <i class="fa fa-file-video-o"></i>
                                    {% elseif item.isPhoto %}
                                        <i class="fa fa-file-image-o"></i>
                                    {% else %}
                                        <i class="fa fa-file-text-o"></i>
                                    {% endif %}
                                </div>
                                <div class="feed-info-date">
                                    <time datetime="{{ item.getDate().format('c') }}">{{ item.getDate().format('l, F j Y \a\t g:ia') }}</time>
                                </div>
                            </div>

                            <div class="card-section-body">
                                <div class="feed-post-message">
                                    <p>{{ item.getMessage() }}</p>
                                </div>
                            </div>

                            <div class="card-section-foot">
                                <div class="feed-post-attachments">
                                    {% set attachments = [] %}
                                    {% for attachment in item.getAttachments() if attachment.hasMedia or attachment.hasSubAttachments %}
                                        {% for media in attachment.getMedia %}{% set attachments = attachments|merge([media]) %}{% endfor %}
                                        {% for subAttachment in attachment.getSubAttachments if attachment.hasSubAttachments %}
                                            {% for media in subAttachment.getMedia %}{% set attachments = attachments|merge([media]) %}{% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% for a in attachments %}
                                        <div class="card-feed-attachment">
                                            <div class="card is-linkable is-animated">
                                                <img src="{{ a.getLink() | url_to_file | imagine_filter('feed_social_thumbs') }}" alt="{{ item.getMessage() }}" data-jslghtbx="{{ a.getLink() | url_to_file }}" data-jslghtbx-group="feed-attachment-group-{{ i }}" />
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="feed-social-link">
                <h3 class="primary-hr-i">Read <em>More</em></h3>
                <p>Looking for more news and information?! Join us on Facebook and be sure to like our page!</p>
                <a href="https://www.facebook.com/SilverPapillonOfMystic" class="btn btn-primary">Visit our Facebook Page <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
