{% extends '::base.html.twig' %}

{% block bread %}
    {{ parent() }}
    <li>News</li>
{% endblock %}

{% block body %}
    <div class="container container-sr">
        <div class="feed-social">

            <div class="feed-social-listing">
                {% include 'AppBundle:fragment:feed.html.twig' with {
                    'feed': feed
                } only %}
            </div>

            <div class="feed-social-link">
                <div class="card">

                    <h3 class="primary-hr-i">
                        <i class="fa fa-share"></i> {{ block_title('feed.more') }}
                    </h3>

                    {{ block_content('feed.more') }}

                    <a href="{{ block_prop('feed.more', 'link_href') }}" class="btn btn-block btn-primary">
                        {{ block_prop('feed.more', 'link_text') }} <i class="fa fa-long-arrow-right"></i>
                    </a>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
