{% extends '::base.html.twig' %}

{% block bread %}{{ parent() }} <li>Products</li>{% endblock %}

{% block bodyRow %}
    {% for c in categories %}
    <div class="col-md-12">
        <div class="card">
            <div class="category">
                <div class="category-name">
                    <a href="{{ url('app_category_view', {'categoryName': c.getName|lower|replace({' ': '-'}), 'category': c.getId}) }}">{{ c.getName }}</a>
                </div>
                <div class="category-products">
                    {% for p in c.getProducts|slice(0, 4) %}
                        <img src="/uploads/images/products/{{ p.getImage }}" alt="{{ p.getName }} Product Image" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
