{% extends 'AppBundle:category:base.html.twig' %}

{% block bread %}{{ parent() }} <li>{{ category.getName }}</li>{% endblock %}

{% block bodyRow %}
    {% for product in products %}
    <div class="col-md-4">
        <div class="card">
            <img src="/uploads/images/products/{{ product.getImage }}" alt="{{ product.getName }} Product Image" />
            <a class="link-header" href="{{ path('app_store_view', {'product_name': product.getName|replace({' ': '-'})|lower, 'product': product.getId}) }}">{{ product.getName }}</a>
            <span class="link-header-right">${{ product.getPrice }}</span>
        </div>
    </div>
    {% endfor %}
{% endblock %}
