{% extends 'AppBundle:category:base.html.twig' %}

{% block bread %}{{ parent() }} <li>{{ category.getName }}</li>{% endblock %}

{% block bodyRow %}
    {% for product in products %}
    <div class="col-md-3">
        <div class="card">
            <div class="product" data-href="{{ path('app_product_view', {'productName': product.getName|replace({' ': '-'})|lower, 'product': product.getId}) }}">
                <img src="/uploads/images/products/{{ product.getImage }}" alt="{{ product.getName }} Product Image" />
                <div class="product-info">
                    <div class="product-price">
                        <p>${{ product.getPrice|number_format(2, '.', ',') }}</p>
                    </div>
                    <div class="product-name">
                        <h4>{{ product.getName }}</h4>
                    </div>
                    <div class="product-add">
                        <a href="{{ path('app_product_view', {'productName': product.getName|replace({' ': '-'})|lower, 'product': product.getId}) }}">
                            <span>View Item Details</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
