{% extends '::base.html.twig' %}

{% block bread %}
    {{ parent() }}
    <li><a href="{{ url('app_category_list') }}">Products</a></li>
    <li>{{ category.getName }}</li>
{% endblock %}

{% block title %}{{ category.getName }} - {{ parent() }}{% endblock %}

{% block search %}
    <div class="search">
        <div class="search-toggle">
            {{ fa('search') }}
        </div>
        <div class="search-form form-basic">

            {{ form_start(search) }}

            {{ form_widget(search.search) }}
            {{ form_widget(search.submit, { 'attr': {'class': 'btn-default'}, 'label': 'Search' }) }}

            {{ form_end(search) }}

        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container container-sr">

        <div class="page-navigation">
            {{ knp_pagination_render(products) }}
        </div>

        <h2 class="primary-hr-i">
            {{ ion('pricetag') }} <em>{{ category.getName }}</em>
        </h2>

        <div class="card-listing">
            {% for p in products %}
                {% include 'AppBundle:fragment:product-list-item-default.html.twig' with { 'product': p } only %}
            {% endfor %}
        </div>

        <div class="page-navigation">
            {{ knp_pagination_render(products) }}
        </div>

    </div>
{% endblock %}
